/* cursor: pointer */
.cursorPointer {
    cursor: pointer;
}

.flex_between_center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_center_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_start_center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex_start_start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex_column_between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.flex_column_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
